{% load static %}
<html>
    <head>
        <title>Cadastro</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/checkout/">
    </head>
    <body class="bg-light">
        <div class="container">
            <div class="py-5 text-center">
                <h2>Cadastro</h2>
            </div>

           
                {% block content %}
                {% endblock %}

        </div>
    </body>
</html>