<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <title>Cadastro</title>

  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="wireframe.css">
</head>

<body class="bg-light">
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-7 mx-auto"> <i class="fa d-block fa-bullseye fa-5x mb-4 text-info"></i>
          <h2><b>Cadastro</b></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="order-md-1 mx-auto col-md-9">
          <h4 class="mb-3"><b>Informações de Conta</b></h4>
          <form class="needs-validation" novalidate="">
            <div class="row">
              <div class="col-md-6 mb-3"> <label for="tipo_pessoa">Tipo de Pessoa</label> <select class="custom-select d-block w-100" id="country" required="">
                  <option value="">Escolha...</option>
                  <option value="INTE">INTEGRADOR</option>
                  <option value="LICE">LICENCIADO</option>
                  <option value="GEST">GESTOR</option>
                  <option value="USER">USUARIO</option>
                </select>
                <div class="invalid-feedback">Por favor, escolha um tipo de pessoa válido. </div>
              </div>
              <div class="row ml-1 mt-3">
                <div class="col-md-11">
                  <div class="form-group row"><label class="col-10">É da administração:</label>
                    <div class="col-2">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="is_staff" value="on"> <label class="custom-control-label mb-3" for="is_staff"></label> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3"> <label for="nome">Nome Completo</label>
                <input type="text" class="form-control" id="nome" placeholder="" value="" required="">
                <div class="invalid-feedback"> Escreva um nome completo válido. </div>
              </div>
              <div class="col-md-6 mb-3"> <label for="username">ID do Usuário</label>
                <input type="text" class="form-control" id="username" placeholder="" value="" required="">
                <div class="invalid-feedback"> Escreva um ID valido. </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3"> <label for="email">E-mail</label>
                <input type="text" class="form-control" id="email" placeholder="" value="" required="">
                <div class="invalid-feedback"> Escreva um e-mail válido. </div>
              </div>
              <div class="col-md-6 mb-3"> <label for="password">Senha</label>
                <input type="text" class="form-control" id="password" placeholder="" value="" required="">
                <div class="invalid-feedback"> Escreva uma senha válida. </div>
              </div>
            </div>
            <h4 class="mb-3"><b>Informações Pessoais</b></h4>
            <div class="row">
              <div class="col-md-6 mb-3"> <label for="celular">Celular</label>
                <input type="text" class="form-control" id="celular" placeholder="" value="" required="">
                <div class="invalid-feedback"> Escreva um celular válido. </div>
              </div>
              <div class="col-md-6 mb-3"> <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" placeholder="" value="" required="">
                <div class="invalid-feedback"> Escreva um telefone válido. </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3"> <label for="cpf">CPF / CNPJ</label>
                <input type="text" class="form-control" id="cpf" placeholder="" value="" required="">
                <div class="invalid-feedback"> Escreva um CPF/CNPJ válido. </div>
              </div>
              <div class="col-md-6 mb-3"> <label for="rg">RG</label>
                <input type="text" class="form-control" id="rg" placeholder="" value="" required="">
                <div class="invalid-feedback"> Escreva um RG válido. </div>
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col-md-10"> <label for="endereco">Endereço</label>
                <input type="text" class="form-control" id="endereco" placeholder="" value="" required="">
                <div class="invalid-feedback"> Escreva um endereço válido. </div>
              </div>
              <div class="col-md-2 ml-0 mb-3"> <label for="numero">Número</label>
                <input type="text" class="form-control" id="numero" placeholder="" value="" required="">
                <div class="invalid-feedback"> Escreva um número válido. </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3"> <label for="bairro">Bairro</label>
                <input type="text" class="form-control" id="bairro" placeholder="" value="" required="">
                <div class="invalid-feedback"> Escreva um bairro válido. </div>
              </div>
              <div class="col-md-6 mb-3"> <label for="cidade">Cidade</label>
                <input type="text" class="form-control" id="cidade" placeholder="" value="" required="">
                <div class="invalid-feedback"> Escreva uma cidade válida. </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3"> <label for="estado">Estado</label>
                <input type="text" class="form-control" id="estado" placeholder="" value="" required="">
                <div class="invalid-feedback"> Escreva um estado válido. </div>
              </div>
              <div class="col-md-6 mb-3"> <label for="pais">País</label>
                <input type="text" class="form-control" id="pais" placeholder="" value="" required="">
                <div class="invalid-feedback"> Escreva um país válido. </div>
              </div>
            </div>
            <hr class="mb-4">
            <div class="mx-auto col-md-9"> <button class="btn btn-success btn-lg btn-block mb-2" type="submit">Cadastrar Usuário e seguir para Cadastro de Empreendimento</button>
            </div>
            <div class="mx-auto px-5 col-md-5"> <button class="btn btn-lg btn-block btn-primary" type="submit">Cadastrar Usuário</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-muted text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 my-4">
          <p class="mb-1">© 2020 AQUAG</p>
          <!--
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#">Privacy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Support</a>
            </li>
          </ul>
          -->
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="assets/js/validation.js"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>